* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header {
  background: #4a90e2;
  display: flex;
  justify-content: center;
  height: 64px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  color: #fff;
  font-size: 14px;
  flex: 1;
  margin: 0 50px 0 50px;
}

header nav div {
  display: flex;
  align-items: center;
}

header nav div .acount {
  margin-left: 5px;
}

.postlist {
  width: 700px;
  margin: 20px auto 0;
}

.post {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.post img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.post .post-header {
  display: flex;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 20px 20px 20px 20px;
}

.post .post-header .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 11px;
  color: #9a9a9a;
  line-height: 0px;
}

.post .post-header .info strong {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
  margin-bottom: 20px;
}

.post .post-content {
  margin-left: 20px;
  font-size: 14px;
  color: #4a4a4a;
}

.post .post-comments .divider {
  height: 1px;
  background: #eeeeee;
  margin: 20px 20px 0 20px;
}

.post .post-comments .comment {
  display: flex;
  font-size: 13px;
  padding: 20px 20px 20px 20px;
}

.post .post-comments .comment p {
  margin-left: 10px;
  color: #4a4a4a;
  background: #eeeeee;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
}

.post .post-comments .comment p span {
  margin-right: 5px;
  font-weight: bold;
}
